<div class="container">
  <div class="heading">
    <h1>List of foods</h1>
  </div>
  <div class="content">


    <div class="row">
      <div class="col-md-3" *ngFor="let food of foodData">
           <mat-card>
  <mat-card-header>
    <mat-card-title>{{ food.name }}</mat-card-title>
    <mat-card-subtitle>{{ food.name }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="food.image">
  <mat-card-content>
    {{ food.description }}.
  </mat-card-content>
  <mat-card-actions>
    <a href="/public/foodDetail/{{food.id}}">View</a>

  </mat-card-actions>
</mat-card>
        <!-- <div class="card">
          <div class="card-title">
            <img class="image-size" [src]="food.image" [alt]="food.name" />
          </div>
          <div class="card-body">
            <h1>{{ food.name }}</h1>
            <p>{{ food.description }}</p>
            <a href="/public/foodDetail/{{food.id}}">View</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
