<div class="container">
  <div class="row flex-nowrap">
    <div
      class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark fixed-top vh-100"
    >
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <header class="bg-gray p-3 header-side">
          <a routerLink="/home" class="navbar-brand h1 mb-0 header-name"
            >Bus Ticket Booking</a
          >
          <div class="logout">
            <button class="btn btn-primary">Logout</button>
          </div>
          <!-- <a href="#" class="navbar-brand h1 text-white">Bus Ticket Booking</a> -->
        </header>
        <div class="list">
          <li class="nav-item active">
            <a routerLink="/home" class="nav-link">Home</a>
          </li>
          <li class="nav-item active">
            <a routerLink="/add-food" class="nav-link"> AddFoodDetails</a>
          </li>
        </div>
      </div>
    </div>
    <div class="col py-3">Content area...</div>
  </div>
</div>
